body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 form {
   width: 100%;
   display: flex;
	flex-direction: column;
  align-items: center;
  border: 2px;
  border-radius: 2rem;
 }

 .navigation {
   background: #333;
	color: white;
	margin-bottom: 30px;
 }
 
 .navlink {
	display: inline-block;
	padding: 10px 15px;
	color: white;
  margin-left: 2%;
}

 .btn {
   padding: 0.5rem 0.75rem;
	border: 2px solid rgb(24, 54, 21);
	background-color: green;
	color: white;
	border-radius: 0;
	cursor: pointer;
 }
